<div
  style="height: 60px;"
  class="d-flex align-items-center w3-bar w3-light-blue"
>
  <a
    href="/"
    class="h-100 w3-bar-item w3-button w3-mobile{{isCurrentRoute
        " /"
        currentRoute
      }}"
    style="width:14%"
  >Home</a>
  <a
    href="/waiters"
    class="h-100 w3-bar-item w3-button w3-mobile{{isCurrentRoute
        "/waiters"
        currentRoute
      }}"
    style="width:14%"
  >Waiters</a>
  <a
    href="/orders"
    class="h-100 w3-bar-item w3-button w3-mobile{{isCurrentRoute
        "/orders"
        currentRoute
      }}"
    style="width:14%"
  >Orders</a>
  <a
    href="/shifts"
    class="h-100 w3-bar-item w3-button w3-mobile{{isCurrentRoute
        "/shifts"
        currentRoute
      }}"
    style="width:14%"
  >Shifts</a>
  <a
    href="/customers_private"
    class="h-100 w3-bar-item w3-button w3-mobile{{isCurrentRoute
        "/customers_private"
        currentRoute
      }}"
    style="width:14%"
  >Customers</a>
  <a
    href="/customers_search"
    class="h-100 w3-bar-item w3-button w3-mobile{{isCurrentRoute
        "/customers_search"
        currentRoute
      }}"
    style="width:14%"
  >Search Customer Orders</a>
  <a
    href="/menu_items"
    class="h-100 w3-bar-item w3-button w3-mobile{{isCurrentRoute
        "/menu_items"
        currentRoute
      }}"
    style="width:16%;"
  >Menu Items</a>
</div>