<div class="w3-bar w3-light-blue">
  <a
    href="/"
    class="w3-bar-item w3-button w3-mobile{{isCurrentRoute " /" currentRoute}}"
    style="width:14%"
  >Home</a>
  <a
    href="/waiters"
    class="w3-bar-item w3-button w3-mobile{{isCurrentRoute
        "/waiters"
        currentRoute
      }}"
    style="width:14%"
  >Waiters</a>
  <a
    href="/orders"
    class="w3-bar-item w3-button w3-mobile{{isCurrentRoute
        "/orders"
        currentRoute
      }}"
    style="width:14%"
  >Orders</a>
  <a
    href="/shifts"
    class="w3-bar-item w3-button w3-mobile{{isCurrentRoute
        "/shifts"
        currentRoute
      }}"
    style="width:14%"
  >Shifts</a>
  <a
    href="/customers_private"
    class="w3-bar-item w3-button w3-mobile{{isCurrentRoute
        "/customers_private"
        currentRoute
      }}"
    style="width:14%"
  >Customers</a>
  <a
    href="/customers_search"
    class="w3-bar-item w3-button w3-mobile{{isCurrentRoute
        "/customers_private"
        currentRoute
      }}"
    style="width:14%"
  >Search Customer Orders</a>
  <a
    href="/menu_items"
    class="w3-bar-item w3-button w3-mobile{{isCurrentRoute
        "/menu_items"
        currentRoute
      }}"
    style="width:14%"
  >Menu Items</a>
</div>