{{> nav currentRoute="/customers_search_orders" }}

{{! Form to search for all orders given user input of customer ID }}
<div class="w-40 mt-3 d-flex justify-content-center flex-column">
  <h2>Customer Orders Search</h2>
  <p>Search for orders by customer (To test total charges, choose customer ID = 1)</p>
  <form id="search-custorder-html" method="GET" class="w-100" action="/customers_search_orders">
    <label for="input-custorder">Customer</label>
      <div style="width: 400px;"class="d-flex justify-content-center align-items-center">
        <select name="customer" id="input-custorder-html" required="true">
          <option value=""></option>
          {{#each customersInfo}}
          <option value="{{this.customer_id}}">{{concat this.first_name " " this.last_name ": ID = " this.customer_id}}</option>
          {{/each}}
        </select>
        <div>
          <button style="margin-top: 6px; margin-bottom: 16px; margin-left: 8px; height:45px;" type="submit" class="btn btn-secondary">Search</button>
        </div>
      </div>
  </form>
</div>

{{! Table to display all orders for selected customer}}
<div class="my-container">
  <table id="customers-search-table" class="table table-striped">
    {{!-- Header section --}}
    <thead>
      <tr>
        <th scope="col">CUSTOMER ID</th>
        <th scope="col">FIRST NAME</th>
        <th scope="col">LAST NAME</th>
        <th scope="col">ORDER ID</th>
        <th scope="col">ORDER DATE AND TIME</th>
        <th scope="col">TOTAL CHARGES</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      <tr>
        <td>{{this.customer_id}}</td>
        <td>{{this.first_name}}</td>
        <td>{{this.last_name}}</td>
        <td>{{this.order_id}}</td>
        <td>{{this.order_created_at}}</td>
        <td>$ {{this.total_price}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <h5>Total:</h5> 

  {{! Display total charges for all orders of given customer }}
  {{#each charges}}
  <h7>{{this.total_charges}}</h7>
  {{/each}}
</div>

