<div class="w3-bar w3-light-blue">

  <a
    href="/index_private"
    class="w3-bar-item w3-button w3-mobile"
    style="width:14%"
  >Main Employee Only</a>
  <a
    href="waiters"
    class="w3-bar-item w3-button w3-mobile"
    style="width:14%"
  >Waiters</a>
  <a
    href="orders"
    class="w3-bar-item w3-button w3-mobile"
    style="width:14%"
  >Orders</a>
  <a
    href="shifts"
    class="w3-bar-item w3-button w3-mobile"
    style="width:14%"
  >Shifts</a>
  <a
    href="customers_private"
    class="w3-bar-item w3-button w3-mobile"
    style="width:14%"
  >Customers</a>
  <a
    href="menu_items"
    class="w3-bar-item w3-button w3-mobile w3-grayscale-max"
    style="width:14%"
  >Menu Items</a>
  <a href="/" class="w3-bar-item w3-button w3-mobile" style="width:14%">Main
    Public</a>
</div>

<div class="my-container">
  {{! Create a table to display all menu items }}
  <table id="inventor" class="table table-striped paddingBetweenCols">
    {{! Header section }}
    <thead>
      <tr>
        <th scope="col">MENU ITEM ID</th>
        <th scope="col">ITEM NAME</th>
        <th scope="col">PRICE</th>
        <th scope="col">IS AVAILABLE (1=YES, 0=NO)</th>
        <th scope="col">UNITS SOLD</th>
      </tr>
    </thead>

    {{! Display all attributes of menu items }}
    <tbody>
      {{#each data}}
        <tr>
          <td>{{this.menu_item_id}}</td>
          <td>{{this.name}}</td>
          <td>$ {{this.price}}</td>
          <td>{{this.is_available}}</td>
          <td>{{this.number_sold}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{! Form to add a menu items }}
<div class="my-container">
  <h2>Add A Menu Item</h2>
  <p>To add a new menu item, please enter the information below and click
    `Submit`! Any values left blank will be submitted as null.</p>
  <form id="add-menu-item-form" method="POST" action="/add-menu-item-form">

    <label for="input-name">Item Name (descriptive): </label>
    <input type="text" name="input-name" id="input-name-html" />

    <label for="input-price">Unit Price: $ </label>
    <input type="text" name="input-price" id="input-price-html" />

    <label for="radio-one">In Stock</label>
    <input type="radio" id="radio-one" name="is-available" value="1" checked />

    <label for="radio-two">Not In Stock</label>
    <input type="radio" id="radio-two" name="is-available" value="0" />

    <br />
    <br />

    <label for="input-number-sold">Number of Units Sold: </label>
    <input type="number" name="input-number-sold" id="input-number-sold-html" />

    <br />
    <br />

    <button class="btn btn-success">Add Menu Item</button>
  </form>
</div>