{{> nav currentRoute="/orders" }}

<div id="orders-container" class="d-flex justify-content-between">

  <div id="edit-order-container" class="m-3">
    <h2>Edit Order</h2>
    <div class="m-3">
      <label for="input-order-price">Total Price:</label>
      <input name="input-order-price">{{this.total_price}}</input>
    </div>
    <div class="m-3">
      <label for="input-waiter-id">Waiter_id:</label>
      <input name="input-waiter-id">{{this.waiter_id}}</input>
    </div>
    <h2>Assign Menu Items to an Order:</h2>
    <form
      id="edit-order-form"
      class="form-group"
      method="POST"
      action="/orders/{{orders.order_id}}/edit"
    >
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id={{concat "menuItem-" 1}}
          name={{concat "menuItem-" 1}}
          {{isChecked this.isOnOrder}}
        />
        <label
          class="form-check-label"
          for={{concat "menuItem-" 1}}
        >
        Sheet Pan Chicken with Mozzarella, Pesto, and Broccoli
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id={{concat "menuItem-" 2}}
          name={{concat "menuItem-" 2}}
          {{isChecked this.isOnOrder}}
        />
        <label
          class="form-check-label"
          for={{concat "menuItem-" 2}}
        >
        Summer Special Shrimp and Fruit Fried Rice
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id={{concat "menuItem-" 3}}
          name={{concat "menuItem-" 3}}
          {{isChecked this.isOnOrder}}
        />
        <label
          class="form-check-label"
          for={{concat "menuItem-" 3}}
        >
        Chipotle Peach Salsa with Cilantro
        </label>
      </div>
      

      <button type="submit" class="btn btn-success" disabled>Submit</button>
    </form>
  </div>

</div>