{{> nav currentRoute="/orders" }}

<div id="orders-container" class="d-flex justify-content-between my-container">
  <div id="edit-order-container" class="m-3 w-40">
    <h2>Edit Order</h2>
    <p>To edit this order, please update the information below and click
      `Submit`. Note: you must assign at least one Menu Item.</p>
    {{#if errorMessage}}
      <h4 class="text-danger">{{errorMessage}}</h4>
    {{/if}}
    <form
      id="edit-order-form"
      class="form-group"
      method="POST"
      action="/orders/{{order.order_id}}/edit"
    >

      <div class="m-3 form-group">
        <label for="input-order-price">Total Price:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            name="input-order-price"
            class="form-control"
            value={{order.total_price}}
            required="true"
          />
        </div>
      </div>
      <div class="m-3 form-group">
        <label for="input-waiter-name">Waiter:</label>
        <select name="input-waiter-name" required="true">
          <option>{{getWaiterNameOnOrder waiters order}}</option>
          {{#each waiters}}
            <option>{{concat
                this.first_name
                " "
                this.last_name
                ": waiter "
                this.waiter_id
              }}</option>
          {{/each}}
        </select>
      </div>
      <div class="m-3 form-group">
        <label for="input-customer-name">Customer:</label>
        <select name="input-customer-name" required="true">
          <option>{{getCustomerNameOnOrder customers order}}</option>
          {{#each customers}}
            <option>{{concat
                this.first_name
                " "
                this.last_name
                ": customer "
                this.customer_id
              }}</option>
          {{/each}}
        </select>
      </div>
      <h3>Assign Menu Items:</h3>
      <div class="form-group d-flex flex-column">
        {{#each menuItems}}
          <div>
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id={{concat "menuItem-" this.menu_item_id}}
              name={{concat "menuItem-" this.menu_item_id}}
              {{isChecked this.isOnOrder}}
            />
            <label
              class="form-check-label"
              for={{concat "menuItem-" this.menu_item_id}}
            >
              {{this.name}}
            </label>
          </div>
        {{/each}}
      </div>
      <button type="submit" class="btn btn-success mt-3">Submit</button>
    </form>
  </div>

</div>