{{> nav currentRoute="/orders" }}


<div
  id="orders-container"
  class="d-flex justify-content-between my-container flex-column"
>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ORDER ID</th>
        <th scope="col">CREATED AT</th>
        <th scope="col">TOTAL PRICE</th>
        <th scope="col">WAITER</th>
        <th scope="col">CUSTOMER</th>
        <th scope="col">MENU ITEMS</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
        <tr>
          <th scope="row">{{this.order_id}}</th>
          <td>{{this.order_created_at}}</td>
          <td>{{this.total_price}}</td>
          <td>{{concat this.waiter_first_name " " this.waiter_last_name}}</td>
          <td>{{concat this.customer_first_name " " this.customer_last_name}}</td>
          <td>{{join this.menuItems ", "}}</td>
          <td>
            <a
              class="btn btn-sm btn-warning"
              href="/orders/{{this.order_id}}/edit"
            >
              Edit
            </a></td>
          <td>
            <a
              href="/orders/{{this.order_id}}/delete"
              class="btn btn-danger"
            >
              Delete
            </a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div>
    <a class="btn btn-success mt-5 mb-5" href="/orders/new">
      Add Order
    </a>
  </div>
</div>
