{{> nav currentRoute="/shifts" }}

<div id="shifts-container" class="d-flex justify-content-between">
  <div id="edit-shift-container" class="m-3 w-40">
    <h2>Edit Shift</h2>
    <form
      id="edit-shift-form"
      class="form-group"
      method="POST"
      action="/shifts/{{shift.shift_id}}/edit"
    >
      <div class="m-3 form-group">
        <label for="input-shift-day">Shift Day:
        </label>
        <select name="input-shift-day">
          <option>{{shift.shift_day}}</option>
          <option>Friday</option>
          <option>Sunday</option>
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
        </select>
      </div>
      <div class="m-3">
        <label for="input-shift-type">Shift Type:
        </label>
            <select name="input-shift-type">
              <option>{{shift.shift_type}}</option>
              <option>day</option>
              <option>swing</option>
              <option>night</option>
            </select>
      </div>
      <h3>Assigned Waiters:</h3>
      {{#each waiters}}
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id={{concat "waiter-" this.waiter_id}}
            name={{concat "waiter-" this.waiter_id}}
            {{isChecked this.isOnShift}}
          />
          <label
            class="form-check-label"
            for={{concat "waiter-" this.waiter_id}}
          >
            {{concat this.first_name " " this.last_name}}
          </label>
        </div>
      {{/each}}
      <button type="submit" class="btn btn-success mt-3">Submit</button>
    </form>
  </div>

</div>