
{{> nav currentRoute="/shifts" }}

<div
  id="shifts-container"
  class="d-flex justify-content-between my-container flex-column"
>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">SHIFT ID</th>
        <th scope="col">SHIFT DAY</th>
        <th scope="col">SHIFT TYPE</th>
        <th scope="col">WAITERS</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each data}}
        <tr>
          <th scope="row">{{this.shift_id}}</th>
          <td>{{this.shift_day}}</td>
          <td>{{this.shift_type}}</td>
          <td>{{join this.waiters ", "}}</td>
          <td>
            <a
              class="btn btn-sm btn-warning"
              href="/shifts/{{this.shift_id}}/edit"
            >
              Edit
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <div>
    <a class="btn btn-success mt-5 mb-5" href="/shifts/new">
      Add Shift
    </a>
  </div>
</div>