{{> nav currentRoute="/shifts" }}


<div id="shifts-container" class="d-flex justify-content-between">

  <div id="edit-shift-container" class="m-3">
    <h2>Add Shift</h2>
    <p>To add a shift, enter info below and click `Submit`!</p>
    <form
      id="edit-shift-form"
      class="form-group"
      method="POST"
      action="/shifts/new"
    >
      <div class="form-group">
        <label for="input-total-price">Shift Day: </label>
        <input
          type="text"
          name="input-employee-id"
          id="input-employee-id-html"
        />
      </div>
      <div class="form-group">
        <label for="input-employee_id">Shift Type: </label>
        <input
          type="text"
          name="input-employee-id"
          id="input-employee-id-html"
        />
      </div>
      {{#each waiters}}
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id={{concat "waiter-" this.waiter_id}}
            name={{concat "waiter-" this.waiter_id}}
            {{isChecked this.isOnShift}}
          />
          <label
            class="form-check-label"
            for={{concat "waiter-" this.waiter_id}}
          >
            {{concat this.first_name " " this.last_name}}
          </label>
        </div>
      {{/each}}
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>