{{> nav currentRoute="/shifts" }}


<div id="shifts-container" class="d-flex justify-content-between">

  <div id="add-shift-container" class="m-3">
    <h2>Add Shift</h2>
    <p>To add a shift, select the info below and click `Submit`!</p>
    <form
      id="add-shift-form"
      class="form-group"
      method="POST"
      action="/shifts/new"
    >
      <div class="form-group">
        <label for="input-shift-day">Shift Day: </label>
        <select value="shift-day" class="form-control" id="input-shift-day">
          <option>Friday</option>
          <option>Sunday</option>
          <option>Monday</option>
          <option>Tuesday</option>
          <option>Wednesday</option>
          <option>Thursday</option>
        </select>
      <div class="form-group">
        <label for="input-shift-type">Shift Type: </label>
        <select value="shift-type" class="form-control" id="input-shift-type">
          <option>day</option>
          <option>swing</option>
          <option>night</option>
        </select>
      </div>
      <div class="form-group">
        <label class="mb-2" for="input-waiters">Assigned Waiters: </label>
      {{#each waiters}}
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id={{concat "waiter-" this.waiter_id}}
            name={{concat "waiter-" this.waiter_id}}
            {{isChecked this.isOnShift}}
          />
          <label
            class="form-check-label"
            for={{concat "waiter-" this.waiter_id}}
          >
            {{concat this.first_name " " this.last_name}}
          </label>
        </div>
      {{/each}}
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>